{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
    <title>🤣 PUNNY</title>
    <meta name="title" content="It's a pun life!">
    <meta name="theme-color" content="#FBBF24"/>
    <meta name="description" content="Find, share and understand puns, idioms and expressions!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ohohohobrien.github.io/punny/">
    <meta property="og:title" content="It's a pun life!">
    <meta property="og:description" content="Find, share and understand puns, idioms and expressions!">
    <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Emojione_1F602.svg/1200px-Emojione_1F602.svg.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://ohohohobrien.github.io/punny/">
    <meta property="twitter:title" content="It's a pun life!">
    <meta property="twitter:description" content="Find, share and understand puns, idioms and expressions!">
    <meta property="twitter:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Emojione_1F602.svg/1200px-Emojione_1F602.svg.png">

    <link rel="stylesheet" href="{% static 'punnyWebapp/styles.css' %}">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="{% static 'punnyWebapp/search.js' %}"></script>

</head>

<body class="text-gray-800 dark:text-white font-roboto bg-contain bg-gradient-to-br to-purple-400 from-blue-400 dark:to-blue-800 dark:from-blue-900">

    <div><!-- content wrapper -->
        <div class="fixed w-full z-10 top-0 dark:text-yellow-400" x-data="{selected:null}"> 
            <nav class="flex justify-between bg-yellow-400 dark:bg-gray-800 shadow-sm">
                <div>
                    <h1 class="font-bold uppercase p-4">
                        <a href="{% url 'home' %}">🤣 Punny</a>
                    </h1>
                </div>
                <button class="mr-4" type="button" @click="selected !== 2 ? selected = 2 : selected = null" aria-label="menu"> 
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
                </button>
            </nav>
            <!-- hidden dropdown menu -->
            <div class="bg-yellow-400 dark:bg-gray-800 shadow-sm max-h-0 relative overflow-hidden transition-all duration-700" x-ref="container2" x-bind:style="selected == 2 ? 'max-height: ' + ($refs.container2.scrollHeight - 40) + 'px' : ''">
                <div class="flex justify-center">
                    <!-- anchor tags-->
                    <div class="p-1 pr-2 font-bold uppercase">
                        <ul class="flex justify-center space-x-5">
                            <li>
                                <a href="{% url 'home'%}">home</a>
                            </li>
                            <li>
                                <a href="{% url 'random' %}">random</a>
                            </li>
                            <li>
                                <a href="{% url 'create'%}">create</a>
                            </li>
                        </ul>
                    </div>
                    <!-- dark toggle -->
                    <div class="p-1 flex justify-center">
                        <!-- Toggle for dark mode -->
                        <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
                        <div class="flex items-center justify-center mb-12">
                            <label for="toggleB" class="flex items-center cursor-pointer">
                            <!-- toggle -->
                            <div class="relative">
                                <!-- input -->
                                <input type="checkbox" id="toggleB" class="sr-only" aria-label="dark mode">
                                <!-- line -->
                                <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                <!-- dot -->
                                <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                            </div>
                            </label>
                        </div>
                        <svg class="w-6 h-6 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path></svg>
                    </div>
                </div>
            </div>
        </div> <!-- end nav -->

        <div class="h-20"></div>

        <div class="fadeIn">

            {% for pun in puns %}
        
                <div class="p-4 md:mx-16 lg:mx-36">
                    <div class="px-2 py-2 mt-5 md:px-20 lg:px-32">
                        <a href="{{ pun.id }}" class="cursor-pointer">
                            <div class="bg-yellow-300 dark:bg-gray-800 px-10 lg:px-24 py-10 pb-5 rounded-sm shadow-2xl hover:bg-yellow-400 dark:hover:bg-gray-900 transform ease-in-out duration-500">
                                <p style="white-space: pre-wrap;" class="text-4xl text-shadow-md my-4">{{ pun.pun_shortened }}</p>
                                <div>
                                    <div class="flex justify-evenly mt-8 text-3xl">
                                        <div id="reviewButtonGood" class="text-shadow-lg px-10 sm:px-4">
                                            <span>🤣</span>
                                        </div>
                                        <div id="reviewButtonOk" class="text-shadow-lg px-10 sm:px-4">
                                            <span>🙃</span>
                                        </div>
                                        <div id="reviewButtonBad" class="text-shadow-lg px-10 sm:px-4">
                                            <span>😑</span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="flex justify-evenly mt-8 text-sm z-10">
                                        <div class="px-12 sm:px-2">
                                            <span id="reviewButtonGood-value" class="font-bold">{{ pun.good_votes }}</span>
                                        </div>
                                        <div class="px-12 sm:px-2">
                                            <span id="reviewButtonOk-value" class="font-bold">{{ pun.ok_votes }}</span>
                                        </div>
                                        <div class="px-12 sm:px-2">
                                            <span id="reviewButtonBad-value" class="font-bold">{{ pun.bad_votes }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            {% empty %}
                nothing to see here
            {% endfor %}
        
        </div>
    </div>

    {% if search %}
        <div class="p-4 md:mx-16 lg:mx-36">
            <div class="px-2 py-2 mt-5 md:px-20 lg:px-32">
                <div class="flex justify-center px-2 py-2 mt-5 md:px-10 lg:px-20">
                    {% if puns.has_previous %}
                        <a class="mr-4" href="{{ request.path }}?page={{ puns.previous_page_number }}">
                            <button class="bg-yellow-300 hover:bg-yellow-400 dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-900 rounded-sm shadow-2xl h-8 w-12 md:h-14 md:w-24 lg:h-16 lg:w-32 transform ease-in-out duration-500" aria-label="previous page">
                                <svg class="w-6 h-6 mx-auto" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                            </button>
                        </a>
                    {% endif %}
                    {% if puns.has_next %}
                        <a class="ml-4" href="{{ request.path }}?page={{ puns.next_page_number }}">
                            <button class="bg-yellow-300 hover:bg-yellow-400 dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-900 rounded-sm shadow-2xl h-8 w-12 md:h-14 md:w-24 lg:h-16 lg:w-32 transform ease-in-out duration-500" aria-label="next page">
                                <svg class="w-6 h-6 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <!-- content footer-->
    <footer class="bg-yellow-300 dark:bg-gray-800 p-5 dark:text-yellow-400 mt-20">
        <h2 class="flex justify-center">website made by Sean O'Brien</h2>
        <div class="flex justify-center space-x-4">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path></svg>
            <h2 class="font-bold">
                <a class="cursor-pointer hover:underline" href="https://ohohohobrien.github.io/portfolio/" target="_blank">
                    find me here
                </a>
            </h2>
        </div>
    </footer>
    
</body>
</html>